services:
  server:
    build:
      context: .
      dockerfile: test.Dockerfile
    ports:
      - "8089:8089"
    env_file:
      - app.env
    depends_on:
      db:
        condition: service_healthy

  db:
    image: mysql:8.0.38
    restart: always
    volumes:
      - devops_db_data:/var/lib/mysql
    env_file:
      - db.env
    expose:
      - 3306
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin -u $$MYSQL_USER -p$$MYSQL_PASSWORD ping -h localhost || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  devops_db_data: